WebContent/wsdl/ISService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.instancesearch.uit.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.instancesearch.uit.com" xmlns:intf="http://services.instancesearch.uit.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.instancesearch.uit.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="serverRespond">
    <complexType>
     <sequence>
      <element name="clientId" type="xsd:string"/>
      <element maxOccurs="unbounded" name="result" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="serverRespondResponse">
    <complexType>
     <sequence>
      <element name="serverRespondReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="serverConnect">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
      <element name="name" type="xsd:string"/>
      <element name="requestTag" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="serverConnectResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="serverConnectReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="clientQueryRequest">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="requestTag" type="xsd:string"/>
      <element name="queryImageContent" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="clientQueryRequestResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="clientQueryRequestReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="clientQueryRequestResponse">

      <wsdl:part element="impl:clientQueryRequestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="serverConnectRequest">

      <wsdl:part element="impl:serverConnect" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="serverRespondResponse">

      <wsdl:part element="impl:serverRespondResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="clientQueryRequestRequest">

      <wsdl:part element="impl:clientQueryRequest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="serverRespondRequest">

      <wsdl:part element="impl:serverRespond" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="serverConnectResponse">

      <wsdl:part element="impl:serverConnectResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ISService">

      <wsdl:operation name="serverRespond">

         <wsdl:input message="impl:serverRespondRequest" name="serverRespondRequest">

       </wsdl:input>

         <wsdl:output message="impl:serverRespondResponse" name="serverRespondResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="serverConnect">

         <wsdl:input message="impl:serverConnectRequest" name="serverConnectRequest">

       </wsdl:input>

         <wsdl:output message="impl:serverConnectResponse" name="serverConnectResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="clientQueryRequest">

         <wsdl:input message="impl:clientQueryRequestRequest" name="clientQueryRequestRequest">

       </wsdl:input>

         <wsdl:output message="impl:clientQueryRequestResponse" name="clientQueryRequestResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ISServiceSoapBinding" type="impl:ISService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="serverRespond">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="serverRespondRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="serverRespondResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="serverConnect">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="serverConnectRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="serverConnectResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="clientQueryRequest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="clientQueryRequestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="clientQueryRequestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ISServiceService">

      <wsdl:port binding="impl:ISServiceSoapBinding" name="ISService">

         <wsdlsoap:address location="http://localhost:8080/ISearchServices/services/ISService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
